.createSinglePage {
  width: 100%;
}
.single-create-outer {
  padding-top: 160px;
  display: flex;
  max-width: 1264px;
  margin: 0 auto;
  justify-content: center;
}
.single-create-outer .create-single-headings h2 {
  font-family: "Segoe UI";
  font-size: 38px;
  margin-bottom: 50px;
  font-weight: 700;
  color: #37afe7;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.something-unknown {
  margin-right: 75px;
}
.file-uploader-outer {
  width: 682px;
  padding: 24px;
  height: 195px;
  border: 1px solid #dee2e6;
  margin-bottom: 3vh;
}
.custom-file {
  align-items: center;
  /* display: flex; */
  /* justify-content: space-between; */
}
.custom-file-input {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  color: #000;
  background: #fff;
  border-radius: 10px;
  transition: all 0.2s !important;
  height: 50px;
}

.custom-file-input::placeholder {
  color: black;
}

.label-choose-file {
  width: fit-content;
  color: black;
  font-weight: normal;
  position: relative;
  padding: 13px 14px;
  margin-right: 2px !important;
  /* left: 540px; */
  float: right;
  margin-top: -53px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.create-single-form-control {
  position: relative;
  margin-top: 10px;
  border-radius: 5px;
  border-color: #dee2e6 !important;
  color: #fff;
}
.create-single-form-control:focus {
  outline: none;
  border-color: #37afe7 !important;
}

.create-single-form-control {
  width: 100%;
  box-sizing: border-box;
  /* border: 2px solid #37afe7; */
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-size: 16px;
  height: 55px;
  color: #000 !important;
  background-color: #fff;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: all 0.4s ease-in-out;
}
.input-group-btn {
  position: absolute;
  right: 4px;
  top: 3px;
  background: #feaa04;
  background: linear-gradient(
    180deg,
    #feaa04 0,
    #f9a00c 13%,
    #f39318 26%,
    #d35152 76%,
    #c93b65
  );
  color: #fff !important;
  border-radius: 50px;
  padding: 9px 15px;
  transition: all 0.5s ease-in-out;
  z-index: 999;
}
.form-group {
  margin-top: 5vh;
}
.form-group span {
}
.input-lebel {
}
.collectible-preview-profile-holder {
  /* width: 438px; */
  border: 1px solid #37afe7;
  padding: 20px 15px 15px;
  border-radius: 5px;
  text-align: center;
  /* height: 521px; */
  height: fit-content;
}
.collectible-preview-profile-holder img {
  width: 406px;
  height: 326px;
}
.collectible-preview-profile-holder span {
  display: block;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 700;
  color: #000;
  padding-bottom: 23px;
}
.collectible-preview-profile-holder .btn-profile-price {
  border: 1px solid #39f;
  font-family: "Segoe UI";
  font-weight: 700;
  color: #39f;
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
}
.collectible-preview-profile-holder .collectible-price p {
  font-family: "Segoe UI";
  font-weight: 600;
  color: #000;
}
.collectibel-clear-all {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.cardname-price {
  padding: 0 20px;
  display: flex;
  margin-top: 23px;
  margin-bottom: 40px;
  justify-content: space-between;
}
.connect-wallet-create-btn {
  display: block;
  text-align: center;
  width: 125px;
  margin-bottom: 55px;
  height: 55px;
  margin-top: 95px;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  background: #37afe7;
  padding: 15px 40px;
  border-radius: 5px;
}
.upload-btn {
  font-weight: 400;
  width: 632px;
  height: 38px;
  display: flex;
  justify-content: center;
  background-color: #3399ff !important;
  margin-top: 25px;
  text-align: center;
  color: black;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s;
}
.fa-upload {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 100;
}
input[type="file"]::file-selector-button {
  background-color: transparent;
  border: none;
  margin: auto;
}
@media only screen and (max-width: 1264px) {
  .file-uploader-outer {
    width: 53.9vw;
  }
  .upload-btn {
    width: 50vw;
  }
  .single-create-outer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .something-unknown {
    margin-right: 30px;
  }
  .collectible-preview-profile-holder img {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .single-create-outer {
    flex-direction: column;
  }
  .file-uploader-outer,
  .upload-btn {
    width: 100%;
  }
  .something-unknown {
    margin-right: 0;
  }
  .connect-wallet-create-btn {
    width: 100%;
  }
  .collectible-preview-profile-holder {
    margin-bottom: 55px;
  }
}
